---
- hosts: all
  gather_facts: false
  remote_user: ec2-user
  become: yes

  tasks:
    - name: modules required for the playbook
      yum:
        name: ['aws-cli']
        state: present

    - name: lookup the vault user passwd entry
      command: docker run -i {{ vault_image }} getent passwd vault
      register: getent_vault
      check_mode: false
      changed_when: false
    - name: set the vault_user and vault_group facts
      set_fact:
        vault_user:  "{{ getent_vault.stdout | regex_replace('^([^:]*):([^:]*):(\\d*):(\\d*):([^:]*):([^:]*):([^:]*)$', '\\3') }}"
        vault_group: "{{ getent_vault.stdout | regex_replace('^([^:]*):([^:]*):(\\d*):(\\d*):([^:]*):([^:]*):([^:]*)$', '\\4') }}"

    - name: reload script
      copy:
        dest: /usr/local/bin/uiuc-vault-server-reload
        mode: 0755
        owner: root
        group: root
        content: !unsafe |
            #!/bin/bash
            set -e

            _container_id=($(docker ps --filter "label=edu.illinois.ics.vault.role=server" --format '{{.ID}}'))
            if [[ ${#_container_id[@]} -gt 0 ]]; then
                docker kill -s HUP ${_container_id[@]} || :
            fi

    - name: configuration directory
      file:
        path: /vault/config
        mode: 0755
        owner: "{{ vault_user }}"
        group: "{{ vault_group }}"
        state: directory
    - name: logging directory
      file:
        path: /vault/logs
        mode: 0700
        owner: "{{ vault_user }}"
        group: "{{ vault_group }}"
        state: directory
      notify: vault | reload

    - name: get tls key from s3
      command: aws s3 cp s3://{{ tls_bucket }}/{{ tls_key_object }} -
      register: tls_key
      check_mode: false
      changed_when: false
    - name: tls key file
      copy:
        dest: /vault/config/server.key
        mode: 0600
        owner: "{{ vault_user }}"
        group: "{{ vault_group }}"
        content: "{{ tls_key.stdout }}"
      notify: vault | reload

    - name: get tls certificate from s3
      command: aws s3 cp s3://{{ tls_bucket }}/{{ tls_crt_object }} -
      register: tls_crt
      check_mode: false
      changed_when: false
    - name: tls certificate file
      copy:
        dest: /vault/config/server.crt
        mode: 0644
        owner: "{{ vault_user }}"
        group: "{{ vault_group }}"
        content: "{{ tls_crt.stdout }}"
      notify: vault | reload

    - name: tls LDAP CA file
      copy:
        src: ../incommon.pem
        dest: /vault/config/ldap-ca.crt
        mode: 0644
        owner: "{{ vault_user }}"
        group: "{{ vault_group }}"
    - name: AWS RDS CA file
      copy:
        src: ../rds.pem
        dest: /vault/config/rds-ca.crt
        mode: 0644
        owner: "{{ vault_user }}"
        group: "{{ vault_group }}"

    - name: dynamodb configuration
      block:
        - copy:
            dest: /vault/config/config.hcl
            mode: 0644
            owner: "{{ vault_user }}"
            group: "{{ vault_group }}"
            content: |
                storage "dynamodb" {
                    ha_enabled = "true"
                    region = "{{ region }}"
                    table = "{{ dyndb_name }}"
                    max_parallel = "{{ dyndb_max_parallel }}"
                }

                # Only for the health check
                listener "tcp" {
                    address = "127.0.0.1:8100"
                    tls_disable = "true"
                }

                # Public listener
                listener "tcp" {
                    address = "0.0.0.0:8200"
                    cluster_address = "0.0.0.0:8201"

                    tls_cert_file = "/vault/config/server.crt"
                    tls_key_file = "/vault/config/server.key"
                }

                # Load balancer listener
                listener "tcp" {
                    address = "0.0.0.0:8220"
                    cluster_address = "0.0.0.0:8221"

                    tls_cert_file = "/vault/config/server.crt"
                    tls_key_file = "/vault/config/server.key"

                    x_forwarded_for_authorized_addrs = "{{ lb_subnet_cidrs }}"
                    x_forwarded_for_hop_skips = "0"
                    x_forwarded_for_reject_not_authorized = "true"
                    x_forwarded_for_reject_not_present = "true"
                }

                ui = "true"
                pid_file = "/vault/vault.pid"

                api_addr = "https://{{ api_addr }}:8200"
                cluster_name = "{{ project }}"
                cluster_addr = "https://{{ cluster_addr }}:8201"
      when: vault_storage[0] == "dynamodb"

    - name: mariadb configuration
      block:
        - yum:
            name: MySQL-python27
            state: present
        - mysql_db:
            login_host: "{{ mariadb_host }}"
            login_port: "{{ mariadb_port }}"
            login_user: "{{ mariadb_admin_user }}"
            login_password: "{{ mariadb_admin_pass }}"
            ssl_ca: /vault/config/rds-ca.crt
            name: "{{ mariadb_app_db }}"
            state: present
          when: mariadb_admin_user and mariadb_admin_pass
        - mysql_user:
            login_host: "{{ mariadb_host }}"
            login_port: "{{ mariadb_port }}"
            login_user: "{{ mariadb_admin_user }}"
            login_password: "{{ mariadb_admin_pass }}"
            ssl_ca: /vault/config/rds-ca.crt
            name: "{{ mariadb_app_user }}"
            host: "%"
            password: "{{ mariadb_app_pass }}"
            priv: "{{ mariadb_app_db }}.*:ALL/mysql.time_zone:SELECT"
            state: present
          when: mariadb_admin_user and mariadb_admin_pass
        - mysql_variables:
            login_host: "{{ mariadb_host }}"
            login_port: "{{ mariadb_port }}"
            login_user: "{{ mariadb_app_user }}"
            login_password: "{{ mariadb_app_pass }}"
            ssl_ca: /vault/config/rds-ca.crt
            variable: max_connections
          register: mariadb_max_connections_result
        - set_fact:
            mariadb_max_parallel_override: "{{ (mariadb_max_connections_result.msg|int * 0.90)|round(method='floor')|int }}"
          when: mariadb_max_parallel|int <= 0
        - copy:
            dest: /vault/config/config.hcl
            mode: 0644
            owner: "{{ vault_user }}"
            group: "{{ vault_group }}"
            content: |
                storage "mysql" {
                    ha_enabled = "true"
                    address = "{{ mariadb_host }}:{{ mariadb_port }}"
                    database = "{{ mariadb_app_db }}"
                    tls_ca_file = "/vault/config/rds-ca.crt"
                    max_parallel = "{{ mariadb_max_parallel_override|default(mariadb_max_parallel) }}"

                    username = "{{ mariadb_app_user }}"
                    password = "{{ mariadb_app_pass }}"
                }

                # Only for the health check
                listener "tcp" {
                    address = "127.0.0.1:8100"
                    tls_disable = "true"
                }

                # Public listener
                listener "tcp" {
                    address = "0.0.0.0:8200"
                    cluster_address = "0.0.0.0:8201"

                    tls_cert_file = "/vault/config/server.crt"
                    tls_key_file = "/vault/config/server.key"
                }

                # Load balancer listener
                listener "tcp" {
                    address = "0.0.0.0:8220"
                    cluster_address = "0.0.0.0:8221"

                    tls_cert_file = "/vault/config/server.crt"
                    tls_key_file = "/vault/config/server.key"

                    x_forwarded_for_authorized_addrs = "{{ lb_subnet_cidrs }}"
                    x_forwarded_for_hop_skips = "0"
                    x_forwarded_for_reject_not_authorized = "true"
                    x_forwarded_for_reject_not_present = "true"
                }

                ui = "true"
                pid_file = "/vault/vault.pid"

                api_addr = "https://{{ api_addr }}:8200"
                cluster_name = "{{ project }}"
                cluster_addr = "https://{{ cluster_addr }}:8201"
          when: vault_storage[0] == "mariadb"
      when: '"mariadb" in vault_storage'

    - name: logrotate | configure vault log rotation
      copy:
        dest: /etc/logrotate.d/vault
        mode: 0644
        owner: root
        group: root
        content: !unsafe |
            /vault/logs/*.log {
                daily
                rotate 30
                missingok
                compress
                delaycompress
                nocreate
                sharedscripts
                postrotate
                    /usr/local/bin/uiuc-vault-server-reload
                endscript
            }

  handlers:
    - name: vault | reload
      command: /usr/local/bin/uiuc-vault-server-reload
